#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 640px;
  width: 1360px;
}

.mySwiper {
  height: 120px;
  width: 600px;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 12px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* Change color */
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 0, 0, 0.8); /* red on hover */
  color: white;
}

/* Optional: Adjust arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* icon size */
}
